body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom,#a1f343,#8f67ec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    overflow: hidden;
}
.container{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 3s ease-in-out;
}
h1, .info h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
label{
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.1);
    color: #3336be;
}
button{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #0004ff;
}
@media(max-width:600px){
    h1{
        font-size: 20px;
    }
    label,input[type="text"],button{
        font-size:14px;
    }
}
@keyframes fadeIn{
    0%{opacity: 0;transform: translateY(-100px);}
    100%{opacity: 1; transform: translateY(0);}
}
